<div ng-controller="CardBasicCtrl">
	<div class="app-header-setting">
		<div class="arrow-left"></div>
		<div class="app-header-setting-inner">
			<div class="panel panel-default">
				<ul class="nav nav-tabs" style="margin:10px 15px 0 15px">
					<li ng-class="{'active' : activeItem.id == 'cardBasic'}"><a href="javascript:;" ng-click="editItem('cardBasic');">基本设置</a></li>
					<li ng-class="{'active' : activeItem.id == 'cardActivity'}"><a href="javascript:;" ng-click="editItem('cardActivity');">消费优惠设置</a></li>
					<li ng-class="{'active' : activeItem.id == 'cardRecharge'}"><a href="javascript:;" ng-click="editItem('cardRecharge');">充值优惠设置</a></li>
					<li ng-class="{'active' : activeItem.id == 'cardNums'}"><a href="javascript:;" ng-click="editItem('cardNums');">计次设置</a></li>
					<li ng-class="{'active' : activeItem.id == 'cardTimes'}"><a href="javascript:;" ng-click="editItem('cardTimes');">计时设置</a></li>
				</ul>
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">名称<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" class="form-control" ng-model="activeItem.params.title">
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">商户名称<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" class="form-control" ng-model="activeItem.params.brand_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">背景图案<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<label class="radio-inline">
								<input type="radio" value="system" ng-init="activeItem.params.background && activeItem.params.background == 0 ? activeItem.params.background = {} : ''" ng-model="activeItem.params.background.type"> 系统
							</label>
							<label class="radio-inline">
								<input type="radio" value="user" ng-init="activeItem.params.background && activeItem.params.background == 0 ? activeItem.params.background = {} : ''"  ng-model="activeItem.params.background.type"> 自定义
							</label>
						</div>
					</div>
					<div class="form-group" ng-show="activeItem.params.background.type == 'user'">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-xs-9">
							<span ng-click="addBgThumb()" class="form-control-static"><i class="fa fa-plus-circle green"></i>&nbsp;选择图片</span>
							<div style="margin-top:.5em;" class="input-group" ng-show="activeItem.params.background.image">
								<img width="150" class="img-responsive img-thumbnail" ng-src="{{activeItem.params.background.image}}" />
								<em ng-click="activeItem.params.background.image = '';" title="删除这张图片" style="position:absolute; top: 0px; right: -14px;" class="close">×</em>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="activeItem.params.background.type == 'system'">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<select class="form-control" ng-model="activeItem.params.background.image">
								<option value="{{tomedia('images/global/card/1.png')}}">背景1</option>
								<option value="{{tomedia('images/global/card/2.png')}}">背景2</option>
								<option value="{{tomedia('images/global/card/3.png')}}">背景3</option>
								<option value="{{tomedia('images/global/card/4.png')}}">背景4</option>
								<option value="{{tomedia('images/global/card/5.png')}}">背景5</option>
								<option value="{{tomedia('images/global/card/6.png')}}">背景6</option>
								<option value="{{tomedia('images/global/card/7.png')}}">背景7</option>
								<option value="{{tomedia('images/global/card/8.png')}}">背景8</option>
								<option value="{{tomedia('images/global/card/9.png')}}">背景9</option>
								<option value="{{tomedia('images/global/card/10.png')}}">背景10</option>
								<option value="{{tomedia('images/global/card/11.png')}}">背景11</option>
								<option value="{{tomedia('images/global/card/12.png')}}">背景12</option>
								<option value="{{tomedia('images/global/card/13.png')}}">背景13</option>
								<option value="{{tomedia('images/global/card/14.png')}}">背景14</option>
								<option value="{{tomedia('images/global/card/15.png')}}">背景15</option>
								<option value="{{tomedia('images/global/card/16.png')}}">背景16</option>
								<option value="{{tomedia('images/global/card/17.png')}}">背景17</option>
								<option value="{{tomedia('images/global/card/18.png')}}">背景18</option>
								<option value="{{tomedia('images/global/card/19.png')}}">背景19</option>
								<option value="{{tomedia('images/global/card/20.png')}}">背景20</option>
								<option value="{{tomedia('images/global/card/21.png')}}">背景21</option>
								<option value="{{tomedia('images/global/card/22.png')}}">背景22</option>
								<option value="{{tomedia('images/global/card/23.png')}}">背景23</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">LOGO<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<span ng-click="addThumb('logo')" class="form-control-static"><i class="fa fa-plus-circle green"></i>&nbsp;选择图片</span>
							<div style="margin-top:.5em;" class="input-group" ng-show="activeItem.params.logo">
								<img width="150" class="img-responsive img-thumbnail" ng-src="{{activeItem.params.logo}}" />
								<em ng-click="activeItem.params.logo = '';" title="删除这张图片" style="position:absolute; top: 0px; right: -14px;" class="close">×</em>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡等级</label>
						<div class="col-sm-9 col-xs-12">
							<input type="radio" value="1" ng-model="activeItem.params.card_level.type" id="card-label-type1">
							<label class="radio-inline" for="card-level-type1">开启</label>
							<input type="radio" value="2" ng-model="activeItem.params.card_level.type" id="card-label-type2">
							<label class="radio-inline" for="card-level-type2">关闭</label>
						</div>
					</div>
					<div class="form-group" ng-show="activeItem.params.card_level.type == '1'">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<div we7-colorpicker we7-my-color="activeItem.params.color.rank" we7-my-default-color="'#fff'"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡标题</label>
						<div class="col-sm-9 col-xs-12">
							<input type="radio" value="1" ng-model="activeItem.params.card_label.type" id="card-label-type1">
							<label class="radio-inline" for="card-label-type1">开启</label>
							<input type="radio" value="2" ng-model="activeItem.params.card_label.type" id="card-label-type2">
							<label class="radio-inline" for="card-label-type2">关闭</label>
						</div>
					</div>
					<div class="form-group" ng-show="activeItem.params.card_label.type == '1'">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" ng-model="activeItem.params.card_label.title"class="form-control">
							<br>
							<span>
								<span><div we7-colorpicker we7-my-color="activeItem.params.color.title" we7-my-default-color="'Color010'"></div></span>
							</span>
							
						</div>
					</div>
					<div class="form-group" style="display:none;">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">卡号设置<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<label class="checkbox-inline">
								<input type="checkbox" value="1" ng-model="activeItem.params.format_type"  ng-init="activeItem.params.format_type = (activeItem.params.format_type == 1 ? true : false)"/> 使用手机号作为卡号
							</label>
							<span class="help-block">强烈推荐使用手机号作为卡号</span>
							<div ng-show="activeItem.params.format_type != 1">
								<input name="format" type="text" ng-model="activeItem.params.format" ng-init="activeItem.params.format = ''" class="form-control" />
							<span class="help-block">
								<p>"*"代表任意随机数字，<span style="color:red">"#"代表流水号码, "#"必须连续出现,且只能存在一组.</span></p>
								<p>卡号规则样本："WQ2015*****#####***"</p>
								注意：规则位数过小会造成卡号生成重复概率增大，过多的重复卡密会造成卡密生成终止
								卡密规则中不能带有中文及其他特殊符号
								为了避免卡密重复，随机位数最好不要少于8位
							</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">使用说明<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<textarea class="form-control" rows="6" ng-model="activeItem.params.description"></textarea>
							<span class="help-block">请填写会员卡的使用说明。</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡资料</label>
						<div class="col-sm-10 col-xs-9">
							<div ng-repeat="field in activeItem.params.fields" style="margin-left:-15px">
								<div class="col-sm-10" style="margin-bottom:10px">
									<div class="input-group">
										<input type="text" class="form-control" ng-model="field.title" ng-disabled="(field.bind == 'realname' || field.bind == 'mobile') && $index <= '1'">
									<span class="input-group-addon">
										<label>
											<input type="checkbox" ng-init="field.require = field.require == 1 ? true : false;" ng-model="field.require" ng-disabled="(field.bind == 'realname' || field.bind == 'mobile') && $index <= '1'"/> 必填
										</label>
									</span>
										<select ng-model="field.bind" class="form-control" ng-disabled="(field.bind == 'realname' || field.bind == 'mobile') && $index <= '1'">
											<option value="{{fansfield.bind}}" ng-repeat="fansfield in fansFields" ng-model="field.bind" ng-selected="{{field.bind == fansfield.bind}}">{{fansfield.title}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-1" style="margin-top:5px" ng-show="field.bind != 'mobile' && field.bind != 'realname'">
									<a href="javascript:;" ng-click="removeFields(field);"><i class="fa fa-times-circle"></i></a>
								</div>
							</div>
							<span class="help-block col-sm-9" style="margin-left:-15px">系统会自动绑定:真实姓名和手机号码</span>
						<span class="help-block col-sm-9" style="margin-left:-15px">
							<a href="javascript:;" ng-click="addFields();"><i class="fa fa-plus-circle" title="添加填写项目"></i> 添加填写项目</a>
						</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">领卡赠送<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<div class="input-group">
								<span class="input-group-addon" ng-init="activeItem.params.grant && activeItem.params.grant == 0 ? activeItem.params.grant = {} : ''">赠送</span>
								<input type="text" ng-model="activeItem.params.grant.credit1" class="form-control">
								<span class="input-group-addon">积分</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<div class="input-group">
								<span class="input-group-addon">赠送</span>
								<input type="text" ng-model="activeItem.params.grant.credit2" class="form-control">
								<span class="input-group-addon">余额</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<div class="input-group">
								<input type="hidden" ng-model="activeItem.params.grant.coupon">
								<span class="input-group-addon">已选:<span ng-repeat="grant in activeItem.params.grant.coupon"><span ng-bind="grant.couponTitle">{{grant.couponTitle}}</span>|</span></span>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="selectCoupon();">搜索优惠券</button>
								<button class="btn btn-default" type="button" ng-click="clearCoupon();">
									<span><i class="fa fa-remove"></i></span>
								</button>
							</span>
							</div>
							<div class="help-block"><a href="{{url('activity/coupon');}}" target="_blank"> 添加优惠券</a>.注意:赠送的优惠券应该各个会员组都可以领取.否则会造成赠送失败的问题</div>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">单次积分<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" ng-model="activeItem.params.bonus_rule.max_increase_bonus" class="form-control">
							<span class="help-block">单次最多可获取积分数量</span>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">抵扣条件<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" ng-model="activeItem.params.bonus_rule.least_money_to_use_bonus" class="form-control">
							<span class="help-block">满足xx元，可使用积分抵扣</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">抵现比率<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<div class="input-group">
								<input type="text" ng-model="activeItem.params.offset_rate" class="form-control">
								<span class="input-group-addon">积分抵 1 元</span>
							</div>
							<br/>
							<div class="input-group">
								<span class="input-group-addon">单次最多可抵现</span>
								<input type="text" ng-model="activeItem.params.offset_max" class="form-control">
								<span class="input-group-addon">元</span>
							</div>
							<div class="help-block"><strong class="text-danger">例:积分抵现金比率:100积分抵1元,那用户在消费的时候,将可用账户积分抵消部分金额.</strong></div>
							<div class="help-block"><strong class="text-danger">目前仅支持后台交易抵现，暂不支持手机交易抵现.</strong></div>
						</div>
					</div>
					<div class="form-group"  ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">库存<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<input type="text" ng-model="activeItem.params.quantity" class="form-control">
							<span class="help-block">卡券库存的数量，不支持填写0，上限为100000000.</span>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">使用提醒<span style="color:red">*</span></label>
						<div class="radio">
							<div class="col-sm-9 col-xs-12">
								<input type="text" ng-model="activeItem.params.notice" class="form-control">
								<span class="help-block">卡券使用提醒，字数上限为16个汉字。</span>
							</div>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">刷卡支付<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<label class="radio-inline"><input type="radio"  ng-model="activeItem.params.swipe_card" value="1">开启</label>
							<label class="radio-inline"><input type="radio" ng-checked="activeItem.params.swipe_card == null || activeItem.params.swipe_card == 2" ng-model="activeItem.params.swipe_card" value="2">关闭</label>
							<span class="help-block">选择是否开启刷卡支付</span>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">有效日期<span style="color:red">*</span></label>
						<div class="col-sm-9 col-xs-12">
							<label class="radio-inline"><input type="radio" ng-model="activeItem.params.date_info.type" value="DATE_TYPE_PERMANENT">
								永久有效
							</label>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<div class="radio">
								<div class="col-sm-3">
									<label class="radio-inline"><input type="radio" ng-model="activeItem.params.date_info.type" value="DATE_TYPE_FIX_TIME_RANGE">
										固定日期
									</label>
								</div>
								<div class="input-group" style="width: 240px;">
									<input we7-date-picker we7-date-value="activeItem.params.date_info.begin_timestamp" ng-model="activeItem.params.date_info.begin_timestamp" class="form-control" style="width: 100px;">
									<div class="input-group-addon">到</div>
									<input we7-date-picker we7-date-value="activeItem.params.date_info.end_timestamp" ng-model="activeItem.params.date_info.end_timestamp" class="form-control" style="width: 100px;">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<label class="radio-inline"><input ng-model="activeItem.params.date_info.type" type="radio" value="DATE_TYPE_FIX_TERM">领取后</label>
							<div class="input-group" style="width: 240px;">
								<input ng-model="activeItem.params.date_info.fixed_begin_term" class="form-control" style="width: 100px;">
								<span class="input-group-addon">天生效，有效期</span>
								<input ng-model="activeItem.params.date_info.fixed_term" class="form-control" style="width: 100px;">
							</div>
						</div>
					</div>
					<div class="form-group" ng-if="newcard">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">可用门店</label>
						<div class="col-sm-9 col-xs-12">
							<label class="radio-inline"><a href="#" class="location_list">选择适用门店</a></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
